dl {
    margin-left: 2em;
}

dt {
    font-weight: normal;
    padding-top: 1.5em;
}

body {
    padding: 0.5em;
}

button {
    display: block;
    margin: 0.5em;
}

#check {
    display: block;
    margin: 0.5em;
    padding-bottom: 0.5em;
}

label {
    display: inline-block;
    margin: 0.5em;
}

section {
    padding: 1em;
    border: 1px solid #ddd;
}

.message {
  font-style: italic;
}

.sha, .author {
    font-size: 11px;
}

#search {
    border: 1px solid #ddd;
}